#imageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height:300px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 10px black;
}
.card img{
    width:150px;
    height: 150px;
}